@{
    ViewData["Title"] = "Home Page";
}

<h2>Lesson 3: Reading Data</h2>

<a asp-controller="Movies" asp-action="List">All movies</a>
<h2>Lesson 4: Writing Data</h2>

<a asp-controller="Ratings" asp-action="List">All Ratings</a>
<br />
<a asp-controller="Movies" asp-action="Create">Create movie</a>

<h2>Lesson 5: ViewModels</h2>

<a asp-controller="Movies" asp-action="List">Filter Movies</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
