@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"]="Index Title";
}

<h2>Index Header</h2>

<p>Hello from our Index view!</p>

<h2>Lesson 3: Reading Data</h2>

<a asp-controller="Movies" asp-action="List">All movies</a>
